<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  
  <targets>
    <target xsi:type="File" name="InfoFile" fileName="${basedir}/LogFiles/Info.txt"/>
    <target xsi:type="File" name="ErrorFile" fileName="${basedir}/LogFiles/Errors.txt"/>
    <target xsi:type="Trace" name="trace"/>
  </targets>

  <rules>
    <logger levels="Info,Error" writeTo="InfoFile,trace"/>
    <logger level="Error" writeTo="ErrorFile"/>
  </rules>
  
</nlog>
